.chappi-dialog-box.label {
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #00ddff);
    -fx-border-color: #9373d7;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 1em 0;
        -fx-border-radius: 1em 1em 1em 0;
}

.chappi-dialog-box.add-label {
    -fx-background-color: yellow;
}

.chappi-dialog-box.marked-label {
    -fx-background-color: palegreen;
}

.chappi-dialog-box.delete-label {
    -fx-background-color: lightpink;
}


#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

